{% extends  "academicPhylo_base.html" %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/static/css/academic_phylo.css" />
{% endblock %}
{% block javascript_doc_ready %}


    <script>
    var searchtable
    var ajaxurl = '/search_table_json/'
    $(document).ready(function() {
        //initiate the DataTable
        makeDataTable(ajaxurl);

        $(".dataTables_filter input").focus();

        $("#search-table_length").html($("#filter-container").html());
        $("#filter-container").remove();
        // this next bit has to be after the previous two lines, otherwise the on
        // change events don't get added to the copied elements
        $(".filterselect").each(function() {
          $(this).on("change",function(){
              makeFilterURL();
              $(this).css("background-color","rgba(228, 26, 28,.2)");
          });

        });

    });
    </script>
{% endblock %}

{% block title %}
    <title>Search</title>
    <meta property="og:title" content="Search for PhDs by Name"/>
{% endblock %}

{% block base_content %}
<div id="main-wrapper">
    <div class="5grid-layout">

        <div class="row">

            <div class="8u">
            <div id="filter-container">
                <span id="filterSectionLabel">Filter by university or specialization</span>
                    <select id="student__school__name" class="filterselect">
                    <option selected disabled>Choose University</option>
                        {% for option in schoolChoices %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                    <select id="student__specialization__name" class="filterselect">
                    <option selected disabled>Choose Specialization</option>
                        {% for option in specializationChoices %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                <button id="clearFilterButton" onclick="clearFilters()">Clear All Filters and Searches</button>
            </div>
            </div>

           <div class="4u"></div>


        </div>

        <div class="row">
            <div class="12u">
                <table class="compact hover" id="search-table">
                    <thead><td>id</td><td><strong>Student Last Name</strong></td><td><strong>Student First Name</strong></td><td><strong>Advisor Last Name</strong></td><td><strong>Advisor First Name</strong></td><td><strong>Year PhD Awarded</strong></td><td><strong>University</strong></td></thead>
                </table>
            </div>
        </div>
    </div>
</div>




    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

    <script>

    function makeDataTable(ajaxurl) {
        searchtable=$("#search-table").DataTable({
            "ajax":ajaxurl,
            "oLanguage": {
                        "sSearch": "Search for a name",

                        "sZeroRecords": "Nobody matches that search. Remember, <a href='/submit/'>you can submit new entries.</a> ",
            },
             "columnDefs": [
                { "visible": false, "targets": 0 }
             ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {

                // Bind click event
                $(nRow).click(function() {
                      window.location.href='/detail/' + aData[0];
                });

                return nRow;
           }
        });
    }

    function makeFilterURL() {
        urlparams = []
        $(".filterselect").each(function(){
            if(!$(this).val()){
             //do nothing if the value is null
            }
            else {
                urlparams.push($(this).closest("select").attr("id") + "=" + $(this).val());
            }


        });

        searchtable.ajax.url(ajaxurl + "?" + urlparams.join("&")).load();
    }

    function clearFilters() {
        searchtable.search('');
        $(".filterselect").each(function(){
            $(this).css("background-color","white")
            $(this).prop('selectedIndex',0);
            searchtable.ajax.url(ajaxurl).load();

        });
    };
    </script>
{% endblock %}
