{% extends "academicPhylo_base.html" %}
{% load replaceNone %}
{% load static %}
{% block base_content %}
    <div id="main-wrapper">
		<div class="5grid-layout">

        {% if thePerson %}
            <div class="row">
                <div class="4u">

                </div>

                <div class="8u">
                    <div class="OneHundredPercentWidthGreyContainer">
                       <span style="font-weight: bold; font-size: 200%">{{ thePerson.firstName }} {{ thePerson.lastName }}</span><br>
                       {{ thePerson.school.name }} ({{ thePerson.yearOfPhD|replaceNone }})   &nbsp;&nbsp;&nbsp;&nbsp; <a href="/tree/{{ thePerson.id }}">Highlight On Tree</a><br>

                    </div>


                </div>
            </div>

            {% if advisorConnection %}
            <div class="row">
                <div class="4u">
                    <div id="sidebar">
					    <li style="width:100%; text-align:center;" class="button customColor">Advisor(s):</li>
				    </div>
                </div>

                    <div class="8u">
                        <p class="OneHundredPercentWidthGreyContainer">{% for each in advisorConnection.advisor.all %}<a href="/detail/{{ each.URL_for_detail }}">{{ each.firstName }} {{ each.lastName }}</a> - {{ each.school.name }} ({{ each.yearOfPhD|replaceNone }}){% if forloop.first %}<br>{% endif %}{% endfor %}<p>
                    </div>
            </div>
            {% endif %}

            {% if thePerson.specialization.all %}
            <div class="row">
                <div class="4u">
                    <div id="sidebar">
					    <li style="width:100%; text-align:center;" class="button customColor">Specialization(s):</li>
				    </div>
                </div>

                    <div class="8u">
                        <p class="OneHundredPercentWidthGreyContainer">{% for each in thePerson.specialization.all %}{{ each.name }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</p>
                    </div>
             </div>
             {% endif %}

            {% if studentConnections %}
            <div class="row">
                <div class="4u">
                    <div id="sidebar">
					    <li style="width:100%; text-align:center;" class="button customColor">PhD Students:</li>
				    </div>
                </div>

                    <div class="8u">
                        <p class="OneHundredPercentWidthGreyContainer">{% for each in studentConnections %}<a href="/detail/{{ each.student.URL_for_detail }}">{{ each.student.firstName }} {{ each.student.lastName }}</a> - {{ each.student.school.name }} ({{ each.student.yearOfPhD|replaceNone }}){% if not forloop.last %}<br>{% endif %}{% endfor %}</p>
                    </div>
             </div>
            {% endif %}

        <!--IF there is no person-->
        {% else %}
            <div class="row">
                <div class="4u">
                    <div id="sidebar">
					    <div class="OneHundredPercentWidthGreyContainer" style="background-color:transparent;"></div>
				    </div>
                </div>

                <div class="8u">
                        <p class="customMessage">That person was not found in the database.</p>
                        <input type="button" onclick="window.location.href='/search/'" class="customsubmit" value="Search For a Particular Person" />



                </div>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}