{% extends "academicPhylo_base.html" %}
{% load replaceNone %}
{% load static %}

{% block title %}
    <title>{{ thePerson.firstName }} {{ thePerson.lastName }}, PhD</title>
    <meta property="og:title" content="{{ thePerson.firstName }} {{ thePerson.lastName }}, PhD"/>
{% endblock %}

{% block fb_share_image %}
    {% if thePerson.shareImageURL %}
        <meta property="og:image" content="{{ thePerson.shareImageURL }}">
    {% else %}
        <meta property="og:image" content="http://www.physanthphylogeny.org/static/images/physanthphylogeny.png"/>
    {% endif %}
{% endblock %}

{% block base_content %}
    <div id="main-wrapper">
		<div class="5grid-layout">

        {% if thePerson %}
            <div class="row">
                <div class="5u">

                    <h2 style="margin-bottom: 10px;">{{ thePerson.firstName }} {{ thePerson.lastName }}</h2>
                    {{ thePerson.school.name }} ({{ thePerson.yearOfPhD|replaceNone }})
                    <p><a href="/tree/{{ thePerson.id }}">Highlight On Tree</a></p>

                </div>
                <div class="7u">
                {% if advisorConnection %}
            <div class="row">
                <div class="3u">
                    <h4>Advisor:</h4>
                </div>
                <div class="9u">
                    {% for each in advisorConnection.advisor.all %}<a href="/detail/{{ each.URL_for_detail }}">{{ each.firstName }} {{ each.lastName }}</a> - {{ each.school.name }} ({{ each.yearOfPhD|replaceNone }}){% if forloop.first %}<br>{% endif %}{% endfor %}
                </div>

            </div>
            {% endif %}

            {% if thePerson.specialization.all %}
            <div class="row">
                <div class="3u">

					    <h4>Specialization:</h4>

                </div>

                    <div class="9u">
                        <p>{% for each in thePerson.specialization.all %}{{ each.name }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</p>
                    </div>
             </div>
             {% endif %}

            {% if studentConnections %}
            <div class="row">
                <div class="3u">
					    <h4>PhD Students:<h4>
                </div>

                    <div class="9u">
                        <p>{% for each in studentConnections %}<a href="/detail/{{ each.student.URL_for_detail }}">{{ each.student.firstName }} {{ each.student.lastName }}</a> - {{ each.student.school.name }} ({{ each.student.yearOfPhD|replaceNone }}){% if not forloop.last %}<br>{% endif %}{% endfor %}</p>
                    </div>
             </div>
            {% endif %}

        <!--IF there is no person-->
        {% else %}
            <div class="row">
                <div class="4u">
                    <div id="sidebar">

				    </div>
                </div>

                <div class="8u">
                        <p class="customMessage">That person was not found in the database.</p>
                        <input type="button" onclick="window.location.href='/search/'" class="customsubmit" value="Search For a Particular Person" />



                </div>
            </div>
        {% endif %}

                </div>

                </div>



        </div>
    </div>

{% endblock %}