{% extends "academicPhylo_base.html" %}
{% load staticfiles %}
{% block nav-home %}<li class="current_page_item">{% endblock %}

{% block base_content %}

    <!-- Banner Wrapper -->
			<div id="banner-wrapper">
				<div class="5grid-layout">


                     <div class="row">
                      <div class="4u"">
                          <section class="box box-feature">
                              <div class="inner" style="text-align:center;">
                                 <header><a href="/explore/" class="button button-icon button-icon-rarrow">Trends</a></header>
                                 <p>Interactive graphs of the growth in Physical Anthropology PhDs through time, plus
                                    trends by school and specialization.</p>
                              </div>
                          </section>
                      </div>
                      <div class="4u">
                        <section class="box box-feature">
                            <div class="inner" style="text-align:center;">

                                    <a href="/tree/"><img src="{% static "images/physanthphylogeny_justtree.png" %}" width = 78%></a>
                                </div>
                        </section>
                            </div>


                       <div class="4u">
                          <section class="box box-feature">
                              <div class="inner" style="text-align:center;">
                                 <header><a href="/search/" class="button button-icon button-icon-rarrow">Find People</a></header>
                                 <p>Search the database to find people by name, by the school they attended, by specialization, or by the year the degree was awarded.</p>
                              </div>
                          </section>
                      </div>


                  </div>



                </div>

{% endblock %}
