{% extends  "academicPhylo_base.html" %}
{% block javascript_doc_ready %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="/static/ajax_select/js/ajax_select.js"></script>
    <link rel="stylesheet" href="/static/ajax_select/css/ajax_select.css" />

{% endblock %}

{% block title %}
    <title>Validate Submissions</title>
{% endblock %}
{% block base_content %}
   <div id="main-wrapper">
		<div class="5grid-layout">
            <div class="row">
                <div class="12u">
                    Validation of the nation
                </div>
            </div>
        </div>
   </div>
{% endblock %}