{% extends  "academicPhylo_base.html" %}
{% block javascript_doc_ready %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/ajax_select/js/ajax_select.js"></script>
<link rel="stylesheet" href="/static/ajax_select/css/ajax_select.css" />
    <script>
    $( document ).ready(function() {

    $(function(){
    $("#searchTextBox").focus();
        });

    });
    </script>
{% endblock %}

{% block title %}
    <title>Search by Name</title>
    <meta property="og:title" content="Search for PhDs by Name"/>
{% endblock %}
{% block base_content %}
   <div id="main-wrapper">
		<div class="5grid-layout">

            <div class="row">
                <div class="3u"></div>
				<div class="6u" style="text-align: center;">
                {% if not messages %}
                    <form action="." method="post" class="formNoBackground">{% csrf_token %}
                    {{ theForm.as_p }}
                    </form>
                <div class="3u"></div>
                {% endif %}


    {% if messages %}
        <form action="/tree/" method="post" class="formNoBackground">{% csrf_token %}
        <article>
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}">{% endif %}<h3>{{ message }}</h3></li>
                {% for each in matches %}

                    <table>
                    <tr><td style="padding-right: 5px">{{ each.firstName }} {{ each.lastName }}</td><td><a href="/tree/{{ each.id }}">Show On Tree</a></td><td><a href="/detail/{{ each.URL_for_detail }}">Show Detail Page</a></td></tr>
                    </table>
                {% endfor %}
                {% if not success%}
                    <h3>Remember, you can <a style="text-decoration: underline;color:#0090c5;" href="/submit/">add your own data.</a></h3>
                {% endif %}

                </form>

                </article>

                <p>
                <form action="/search/" class="formNoBackground">
                <input class="customsubmit" type="submit" style="display:inline;" value="Clear This Search "/>
                </form>

                </p>


            {% endfor %}
            </ul>

            {% endif %}
            </form>


                </div>
            </div>
        <!-- Advertisements-->
        <div class="row">
            <div class="3u"></div>
            <div class="6u" style="position:relative;">
                {% comment %}
                <div class="row">
                    {% for ad in threeAds %}
                    <span class="single-book-medium-amazon">{{ ad.html|safe }}</span>
                    {% endfor %}
                </div>
                <div class="row">
                    <a href="/support/" style="font-size:70%;">Amazon Links</a>
                </div>
                {% endcomment %}


            </div>
            <div class="3u"></div>
            </div>

        </div>

    </div>


{% endblock %}
